*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Poppins', sans-serif;
}

.faq{
    display: flex;
    width: 800px;
    height: 500px; 
    align-self: center;
    z-index: 0;
    position: absolute;
}

.faq img{
    width: 500px;
    height: 350px;
    align-self: center;
    z-index: 1;
    left: -250px;
    position: relative;
    
}
#inverter {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.faq .conteudo{
    width: 500px;
    height: 280px;
    align-self: center;
    text-align: center;
    margin-right: 10px;
    padding: 10px;
    position: fixed;
    right: 300px;
}

.itens{
    list-style: none;
}

.pergunta{
    font-size: 16px;
}

.pergunta .iconebotao{
    width: 20px;
    height: 20px;
    left: 40px;
}